nav.navbar, .navbar-default {
    background-color: #024750;
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
}
.navbar-default {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    filter: none;
    background-repeat: repeat-x;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-default {
    background-color: #024750;
    border-color: #024750;
}
@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
<style>…</style>
user agent stylesheet
 article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
<style>…</style>
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
<style>…</style>
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}